/* FONT */
/* @import url(../fonts/poppins.css); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* VARIABLE */
:root {
  --f-display: "Poppins", sans-serif;
  --f-body: "Poppins", sans-serif;
  --c-body: #6a6a6a;
  --c-brand: #f50e5d;
  --c-brand-dark: #7a052d;
  --transition: all 0.4s ease;
}

/* RESET */
body {
  font-family: var(--f-display);
  line-height: 1.6;
  color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--f-display);
  color: #2b2b2b;
  font-weight: 700;
}

a {
  color: #323232;
  text-decoration: none;
  font-weight: 500;
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand);
}

img {
  width: 100%;
}

/* HELPER */
.x-section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.x-section-subtitle {
  font-weight: 600;
  color: var(--c-brand);
  text-transform: uppercase;
}

.x-gradient {
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* BTN */
.btn {
  font-weight: 500;
  color: white;
  padding: 12px 24px;
  height: 50px;
  border-radius: 0;
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.btn-brand {
  color: white;
  background-color: var(--c-brand);
}

.btn-brand:hover {
  color: white;
  background-color: var(--c-brand-dark);
}

/* HERO */
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/bg-cover-1.jpg);
  background-position: center;
  background-size: cover;
}

/* ABOUT */

/* SERVICES */
.service-card {
  background-color: white;
}

.service-card .icon {
  margin: 0 auto;
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-brand);
}
.service-card .icon i {
  font-size: 28px;
  color: white;
}

.service-card,
.service-card .icon,
.service-card i,
.service-card h3,
.service-card p {
  transition: var(--transition);
}

.service-card:hover {
  background-color: var(--c-brand);
}

.service-card:hover .icon {
  background-color: white;
}
.service-card:hover .icon i {
  color: var(--c-brand);
}

.service-card:hover h3,
.service-card:hover p {
  color: white;
}

/* PROJECT */
.project {
  position: relative;
  overflow: hidden;
}

.project img {
  transition: var(--transition);
}

.project a {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.project:hover img {
  transform: scale(1.25);
}

.project:hover a {
  position: absolute;
  top: 50%;
  opacity: 1;
}

/* REVIEWS */
#reviews {
  padding-bottom: 120px;
}
